body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #800080, #0000FF, #800080);
}


.container-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App {
  font-family: Arial, sans-serif;
  max-width: 400px; /* Defina a largura máxima do formulário */
  margin: 20px; /* Adicione margem em torno do formulário */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(255, 255, 255);
  border: 4px solid #000000;
}

.container label,
.container input,
.container select,
.container textarea {
  margin-bottom: 10px; /* Diminua o espaçamento entre as perguntas e respostas */
}

h1 {
  color: #333;
  margin-bottom: 0.5rem; /* Diminua o espaçamento abaixo do título */
  font-size: 1.3rem; /* Diminua o tamanho do título */
  text-align: center;
}

form {
  display: grid;
  grid-row-gap: 0.8rem; /* Diminua o espaçamento entre as perguntas */
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 8px; /* Diminua o tamanho do padding */
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px; /* Diminua o tamanho do padding */
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem; /* Adicione espaçamento abaixo do botão */
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilização do botão "Elaborar Contrato" */
.elaborarContratoButton {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none; /* Removemos o sublinhado de links */
  transition: transform 0.2s; /* Adicionamos uma transição de 0.2 segundos no efeito de transformação */
}

.elaborarContratoButton:hover {
  /* Ao passar o mouse sobre o botão, aumentamos a escala em 1.1 vezes */
  transform: scale(1.2);
}


/* Adicionamos regras para tornar o formulário mais responsivo */
@media (max-width: 600px) {
  .App {
    max-width: 90%; /* Diminuímos a largura do formulário para telas menores */
  }
}
